{% extends 'web/base.html' %}
{% block content %}
    <ul>
        {% for blog in blogs %}
            <li>
                <b><h2>{{ blog.title }}</h2></b>
                {{ blog.short_description }}
                <br>{{ blog.description }}
                <small>
                    <br><br>Опубликовано {{ blog.publication_date }}
                    <br>Автор: {{ blog.user }}
                    {% if user == blog.user %}
                        <br><br><a href="{% url 'blogs_edit' blog.id %}">Редактировать</a>
                        <a href="{% url 'blogs_delete' blog.id %}">Удалить</a>
                    {% endif %}
                </small>
            </li>
            <hr size="2" width="1200" noshade="" align="left" color="black">
        {% endfor %}
    </ul>
{% endblock %}
